TP_Guitar_Client/TP_Guitar_Client/Connected Services/ServiceReference1/WS_GUITAR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CommandeGuitar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nomguitar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Micro1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Micro2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Micro3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BoisManche" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BoisTouche" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BoisCorps" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomVibrato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommandeGuitarResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGuitars">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGuitarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGuitarsResult" type="tns:ArrayOfC_GUITAR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_GUITAR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_GUITAR" nillable="true" type="tns:C_GUITAR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_GUITAR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nomguitar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Micro1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Micro2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Micro3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoisManche" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoisTouche" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoisCorps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomVibrato" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTypeBois">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTypeBoisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTypeBoisResult" type="tns:ArrayOfC_TYPEBOIS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_TYPEBOIS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_TYPEBOIS" nillable="true" type="tns:C_TYPEBOIS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_TYPEBOIS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomTypeBois" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTypesMicro">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTypesMicroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTypesMicroResult" type="tns:ArrayOfC_MICRO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_MICRO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_MICRO" nillable="true" type="tns:C_MICRO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_MICRO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Contructeur" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTypesVibrato">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTypesVibratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTypesVibratoResult" type="tns:ArrayOfC_VIBRATO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_VIBRATO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_VIBRATO" nillable="true" type="tns:C_VIBRATO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_VIBRATO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomVibrato" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCommandesExistant">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCommandesExistantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCommandesExistantResult" type="tns:ArrayOfC_COMMANDE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_COMMANDE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_COMMANDE" nillable="true" type="tns:C_COMMANDE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_COMMANDE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idCommande" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateCommande" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Montant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneClient" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CommandeGuitarSoapIn">
    <wsdl:part name="parameters" element="tns:CommandeGuitar" />
  </wsdl:message>
  <wsdl:message name="CommandeGuitarSoapOut">
    <wsdl:part name="parameters" element="tns:CommandeGuitarResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGuitarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGuitars" />
  </wsdl:message>
  <wsdl:message name="GetAllGuitarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTypeBoisSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTypeBois" />
  </wsdl:message>
  <wsdl:message name="GetAllTypeBoisSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTypeBoisResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTypesMicroSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTypesMicro" />
  </wsdl:message>
  <wsdl:message name="GetAllTypesMicroSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTypesMicroResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTypesVibratoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTypesVibrato" />
  </wsdl:message>
  <wsdl:message name="GetAllTypesVibratoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTypesVibratoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCommandesExistantSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCommandesExistant" />
  </wsdl:message>
  <wsdl:message name="GetAllCommandesExistantSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCommandesExistantResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_GUITARSoap">
    <wsdl:operation name="CommandeGuitar">
      <wsdl:input message="tns:CommandeGuitarSoapIn" />
      <wsdl:output message="tns:CommandeGuitarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGuitars">
      <wsdl:input message="tns:GetAllGuitarsSoapIn" />
      <wsdl:output message="tns:GetAllGuitarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeBois">
      <wsdl:input message="tns:GetAllTypeBoisSoapIn" />
      <wsdl:output message="tns:GetAllTypeBoisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesMicro">
      <wsdl:input message="tns:GetAllTypesMicroSoapIn" />
      <wsdl:output message="tns:GetAllTypesMicroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesVibrato">
      <wsdl:input message="tns:GetAllTypesVibratoSoapIn" />
      <wsdl:output message="tns:GetAllTypesVibratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCommandesExistant">
      <wsdl:input message="tns:GetAllCommandesExistantSoapIn" />
      <wsdl:output message="tns:GetAllCommandesExistantSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_GUITARSoap" type="tns:WS_GUITARSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommandeGuitar">
      <soap:operation soapAction="http://tempuri.org/CommandeGuitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGuitars">
      <soap:operation soapAction="http://tempuri.org/GetAllGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeBois">
      <soap:operation soapAction="http://tempuri.org/GetAllTypeBois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesMicro">
      <soap:operation soapAction="http://tempuri.org/GetAllTypesMicro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesVibrato">
      <soap:operation soapAction="http://tempuri.org/GetAllTypesVibrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCommandesExistant">
      <soap:operation soapAction="http://tempuri.org/GetAllCommandesExistant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_GUITARSoap12" type="tns:WS_GUITARSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommandeGuitar">
      <soap12:operation soapAction="http://tempuri.org/CommandeGuitar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGuitars">
      <soap12:operation soapAction="http://tempuri.org/GetAllGuitars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeBois">
      <soap12:operation soapAction="http://tempuri.org/GetAllTypeBois" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesMicro">
      <soap12:operation soapAction="http://tempuri.org/GetAllTypesMicro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesVibrato">
      <soap12:operation soapAction="http://tempuri.org/GetAllTypesVibrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCommandesExistant">
      <soap12:operation soapAction="http://tempuri.org/GetAllCommandesExistant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_GUITAR">
    <wsdl:port name="WS_GUITARSoap" binding="tns:WS_GUITARSoap">
      <soap:address location="http://localhost:50178/WS_GUITAR.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_GUITARSoap12" binding="tns:WS_GUITARSoap12">
      <soap12:address location="http://localhost:50178/WS_GUITAR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>